<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServerUserName" value="" />
    <add key="ServerPassword" value="" />
    <add key="DatabaseName" value="" />
    <add key="ServerName" value="" />
    <add key="SmtpUserName" value="" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpServer" value="" />
    <add key="FromEmailAddress" value="" />
  </appSettings>
</configuration>